<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome, Borrower!</h1>
      <h2>Enter your Card# and choose a service</h2>
    </div>
</div>

<div class="container" ng-controller="userController">
<form>
<div class="form-group row">
    <label for="inputCardNo" class="col-sm-2 col-form-label">Card Number</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" ng-model="cardNo" id="cardNo" placeholder="Card Number #">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Branch Name</label>
   	<div class="col-sm-6">
	    <select class="form-control"  ng-model="thisBranch" id="thisBranch">
	      <option ng-repeat="b in branches | orderBy : '+branchName'" value={{b}}>{{b.branchName}}</option>
	    </select>   
  	</div>
  	<div class="col-sm-4">
    <button type="submit" class="btn btn-primary" ng-click="returnBook()" >Return Book >></button>
    <button type="submit" class="btn btn-primary" ng-click="checkOutBook()" >Checkout Book >></button>
  </div>
  </div>
</form>

<table class="table table-hover" >
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Book Title</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bc in copies | orderBy : '-noOfCopies'">
				<td scope="col">{{$index+1}}</td>
				<td scope="col">{{bc.book.title}}</td>
				<td scope="col"><button type="submit" class="btn btn-primary" ng-click=userReturn(bc)>Return</button></td>
			</tr>
			<tr ng-repeat="bc in checkOutCopies | orderBy : '-noOfCopies'">
				<td scope="col">{{$index+1}}</td>
				<td scope="col">{{bc.book.title}}</td>
				<td scope="col"><button type="submit" class="btn btn-primary" ng-click="userCheckOut(bc)">Checkout</button></td>
			</tr>
		</tbody>
	</table>


<!-- Modal -->
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="returnModalLabel">Return Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" ng-click="updateBranch()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>