<div class="jumbotron">
    <div class="container">
      <h2>Genres</h2>
    </div>
</div>

<div class="container" ng-controller="genreController">
	<h2>{{numOfGenres}} Genres found in LMS</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Genre Name</th>
				<th scope="col">Books</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="g in genres | orderBy : '+genreName' | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td scope="col">{{$index+1}}</td>
				<td scope="col">{{g.genreName}}</td>
				<td scope="col"><span ng-repeat="b in g.books | orderBy : '+title'">{{b.title}}, </span></td>		
			</tr>
		</tbody>
	</table>
	<div class="col-md-10">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.prevPage()">&laquo;</a></li>
			<li class="page-item"
				ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a class="page-link"
				href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li class="page-item"><a class="page-link" href=""
				ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<a href="#/createGenre"><button type="button" class="btn btn-success">+ New Genre</button></a>
	<a href="#/editGenre"><button type="button" class="btn btn-warning">Edit / Delete Genre</button></a>
</div>